/* Task Tracking Related Records Display Styles */
DIV#tabs {
	position: relative;
	display: block;
	height: 540px;
	width: 99%;
}
DIV#tabs > DIV:first-child {
	display: block;
	position: absolute;
	height: auto;
}
DIV#tabs UL {
	display: block;
	float: left;
	position: absolute;
	top: 70px;
	left: 0px;
	/*background-color: #a7c6e4;*/
	background-color: #1c557d;
	padding-top: 5px;
	width: 97%;
}
DIV#tabs UL LI {
	display: inline-block;
	float: left;
	position: relative;
	left: -38px;
	cursor: default;
}
DIV#tabs UL LI A:link,DIV#tabs UL LI A:visited,DIV#tabs UL LI A:active{
	color: black;
}
.ds-psudo-tab {
	border-top-right-radius: 0.6em 0.6em;
	border-top-left-radius: 0.6em 0.6em;
	border: 1px solid;
	border-left-color: #595959;
	border-right-color: #595959;
	border-top-color: #595959;
	border-bottom-color: #1c557d;
	/*background-color: #59a3d9;*/
	background-color: #D7D7D7;
	background-image: -ms-linear-gradient(rgb(243, 243, 243), rgb(200,200,200));
	background: linear-gradient(rgb(243, 243, 243), rgb(200,200,200));
	/*color: black;*/
	color: #133853;
	font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-weight: 400;
	width: auto;
	cursor: pointer;
	display: inline-block;
	padding: 3px 5px 3px 5px;
	margin: 2px 2px 2px 2px;
}
.ds-psudo-tab * {
	color: #133853;
}
.ds-psudo-tab:hover, .ds-psudo-tab:hover *, .ds-psudo-tab-active, .ds-psudo-tab-active * {
	background-color: #1c557d;
	background-image: -ms-linear-gradient(#2a7fbb, #1c557d);
	background: linear-gradient(#2a7fbb, #1c557d);
	border-left-color: black;
	border-right-color: black;
	border-top-color: black;
	border-bottom-color: #1c557d;
	color: white;	
}
.ds-tabContentDiv {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	position: absolute;
	top: 119px;
	left: 0px;
	display: block;
	float: left;
	width: 100%;
	background-color: #F6F6F6;
}
.ds-tabContentScroll {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 250px;
	width: 100%;
	display: block;
}
.ds-tabContentHeader {
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
	display: block;
}
.ds-TabContentWrapper {
	background: transparent;
	width: 100%;
}
.ds-addRelatedRecordsButtons {
	width: 100%;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 70px;
}
#dsChangeFilterForRelatedRecords {
	display: block;
	position: absolute;
	top: 426px;
	width: 99%;
	border-top: 1px solid black;
}
.ds-relatedInfoHeaders{
	font-family: Verdana, sans-serif;
	font-size: x-small;
	font-weight: bold;
	text-align: center;
	align: center;
	vertical-align: middle;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
.ds-relatedInfoData{
	font-family: Verdana, sans-serif;
	font-size: x-small;
	text-align: center;
	vertical-align: middle;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background-color: #f6f6f6;
}
.ds-relatedInfoDataShaded{
	font-family: Verdana, sans-serif;
	font-size: x-small;
	text-align: center;
	vertical-align: middle;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background-color: #e4e4e4;
}
.ds-relatedInfoDataHeaderTxtField {
	font-family: Verdana, sans-serif; 
	font-size: x-small; 
	border: 0px transparent hidden; 
	background: transparent; 
	overflow: hidden;
	text-decoration: underline;
	font-weight: bold;
	cursor: default;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
.ds-tcBlock {
	display: inline-block;
	padding: 0px 1px 0px 1px;
	margin: 0px 1px 0px 1px;
	overflow-y: hidden;
	overflow-x: hidden;
	height: auto;
	font-size: 10px
	min-height: 5px;
	max-height: 12px;
	/*width: auto;*/
	width: 99%;
	text-align: left;
	min-width: 15px;
	max-width: 1000px;
	border: 0px hidden transparent;
	color: inherit;
	background: transparent;
	font-family: Verdana, sans-serif; 
	cursor: default;
}
.ds-tabContentHeader .ds-tcBlock {
	text-align: center;
	text-decoration: underline;
	font-weight: 700;
}
.ds-hoverPopup {
	display: block;
	position: fixed;
	padding: 2px 4px 4px 2px;
	margin: 2px 2px 2px 2px;
	overflow-y: scroll;
	overflow-x: hidden;
	height: auto;
	font-size: 12px
	min-height: 10px;
	max-height: 300px;
	width: auto;
	min-width: 10px;
	max-width: 250px;
	border: 3px solid black;
	color: black;
	white-space: 
	background-color: #D7D7D7;
	background-image: -ms-linear-gradient(rgb(243, 243, 243), rgb(200,200,200));
	background: linear-gradient(rgb(243, 243, 243), rgb(200,200,200));
	font-family: Verdana, sans-serif; 
	cursor: default;
}
.ds-relatedInfoDataTxtField {
	font-family: Verdana, sans-serif; 
	font-size: x-small; 
	border: 0px transparent hidden; 
	background: transparent; 
	overflow: hidden;
	cursor: default;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
.ds-relatedInfoDataTxtFieldConstruction {
	font-family: Verdana, sans-serif; 
	font-size: x-small; 
	border: 0px transparent hidden; 
	background: white; 
	overflow: hidden;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
.ds-recordIDs {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}
.ds-emailLinks {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}
.ds-highlight {
	background-color: #ffff99;
	color: #890212;
	border: 1px solid #6e000d;
}
.ds-highlight input, .ds-highlight button, .ds-highlight .ds-psudoButton {
	color: #890212;
	border: 1px solid #6e000d;	
}
.ds-highlight .ds-psudoButton * {
	color: #890212;
}
.ds-highlight .ds-psudoButton:hover * {
	color: white;
}
#tblContacts .ds-tcBlock .fa { 
	font-size: 11px;
}