.ds-fxdtbl {
	table-layout: fixed;
	border-collapse: collapse;
}
/*psPop = psudoPopup*/
.ds-psPopWrapper {
	display: block;
	position: fixed;
	box-sizing: border-box;
	top: 100px;
	left: 100px;
	height: 300px;
	max-height: 1400px;
	width: 500px;
	max-width: 1000px;
	overflow-y: visible;
	background-color: #F6F6F6;
	border: 3px double black;
}
/* psPopTB = psudoPopupTitleBar */
.ds-psPopTB {
	display: block;
	position: absolute; 
	box-sizing: border-box;
	cursor: move;
	top: 0px;
	left: 0px;
	height: 35px;
	width: 100%;
	background-color: #1c557d;
	background-image: -ms-linear-gradient(#2a7fbb, #1c557d);
	background: linear-gradient(#2a7fbb, #1c557d);
	color: white;
	z-index: 999998;
}
.ds-psPopTB > span {
	margin-left: 7px;
	color: white;
	font-size: 1.6em;
	font-weight: bold;
	vertical-align: middle;
	text-align: left;
}
.ds-psPopTBCloseButton {
	display: inline-block;
	position: absolute; 
	cursor: pointer;
	top: 1px;
	right: 6px;
	height: 33px;
	width: auto;
	font-size: 23px;
	background: transparent;
	color: white;
	text-align: right;
	z-index: 999999;
	overflow: hidden;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	vertical-align: middle;
}
.ds-psPopTBCloseButton:hover {
	text-shadow: -1px -1px 0 #000,2px -1px 0 #000,-1px 2px 0 #000,2px 2px 0 #000;
	background-color: #1c557d;
	background-image: -ms-linear-gradient(#2a7fbb, #1c557d);
	background: linear-gradient(#2a7fbb, #1c557d);
}
.ds-psPopContent {
	overflow-y: scroll;
	overflow-x: hidden;
	display: block;
	position: absolute; 
	top: 35px;
	left: 0px;
	height: 95%;
	width: 100%;
	background-color: #E6E6E6;
	color: black;
	padding: 3px 6px;
	box-sizing: border-box;
}
.ds-psPopBottom {
	display: block;
	position: absolute; 
	box-sizing: border-box;
	bottom: 0px;
	left: 0px;
	height: 35px;
	width: 100%;
	background-color: transparent;
	color: black;
}
.ds-psPopResize {
	position: absolute; 
	bottom: -7px;
	right: -7px;
	height: auto;
	width: auto;
	font-size: 14px;
	color: black;
	font-weight: bold;
	cursor: nwse-resize;
	transform: rotate(90deg);
}