.ds-psudo-button {
	border-radius: 0.4em 0.4em;
	border: 1px solid black;
	background-color: #D7D7D7;
	background-image: -ms-linear-gradient(rgb(243, 243, 243), rgb(200,200,200));
	background: linear-gradient(rgb(243, 243, 243), rgb(200,200,200));
	color: black;
	font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-weight: 400;
	width: auto;
	cursor: pointer;
	display: inline-block;
	padding: 3px 5px 3px 5px;
	margin: 2px 2px 2px 2px;
}
.ds-psudo-button:not([disabled]):hover, .ds-psudo-button:not([disabled]):hover *, 
.ds-psudo-button-active, .ds-psudo-button-active * {
	background-color: #1c557d;
	background-image: -ms-linear-gradient(#2a7fbb, #1c557d);
	background: linear-gradient(#2a7fbb, #1c557d);
	color: white;
}
.ds-psudo-button[disabled]:hover, .ds-psudo-button[disabled]:hover * {
	cursor: default;
}
#dvAddTimeAndComment .ds-psudo-button {
	font-size: 1.5em;
}
.ds-psudoButton { 
	display: inline-block;
	background-color: #D7D7D7;
	background-image: -ms-linear-gradient(rgb(243, 243, 243), rgb(200,200,200));
	background: linear-gradient(rgb(243, 243, 243), rgb(200,200,200));
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 0.2em 0.2em;
	margin: 1px 2px 1px 2px;
	cursor: pointer;
	color: black;
	font-size: 0.965em;
}
.ds-psudoButton *,.ds-psudoButton *:link,.ds-psudoButton *:active,.ds-psudoButton *:visited { 
	cursor: pointer;
	color: black;
}
.ds-psudoButton > TABLE {
	margin: 2px 5px 2px 5px;
}
.ds-psudoButton > TABLE > TBODY > TR > TD:first-child {
	padding-right: 5px;
}
.ds-psudoButton:hover, 
.ds-psudoButton:hover *, 
.ds-psudoButton:hover *:link, 
.ds-psudoButton:hover *:active, 
.ds-psudoButton:hover *:visited {
	background-color: #1c557d;
	background-image: -ms-linear-gradient(#2a7fbb, #1c557d);
	background: linear-gradient(#2a7fbb, #1c557d);
	color: white;
	cursor: pointer;
}
.ds-psudoButton[disabled] *,
.ds-psudoButton[disabled] *:link,
.ds-psudoButton[disabled] *:active,
.ds-psudoButton[disabled] *:visited { 
	cursor: default;
	color: #B3B3B3;
}
.ds-accordionSectionHeader {
	width: 100%;
	font-size: 1.3em;
	font-weight: 700;
	font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
	padding: 3px 5px 3px 5px;
	margin: 2px 2px 2px 2px;
	max-width: 1000px;
	border: 1px solid black;
}
.ds-accordionSectionHeaderActive { 
	background-color: #1c557d;
	background-image: -ms-linear-gradient(#2a7fbb, #1c557d);
	background: linear-gradient(#2a7fbb, #1c557d);
	color: white;
}
.ds-accordionSectionHeaderInactive { 
	background-color: #D7D7D7;
	background-image: -ms-linear-gradient(rgb(243, 243, 243), rgb(200,200,200));
	background: linear-gradient(rgb(243, 243, 243), rgb(200,200,200));
	color: black;
}
.ds-accordionContentSection {
	width: 100%;
	border: 1px solid #59a3d9;
	padding: 3px 4px 3px 4px;
	margin: 2px 2px 2px 2px;
	max-width: 1000px;
}
/* Task Tracking Related Records Display Styles */
DIV.ds-relatedRecordsUI > TABLE, DIV.ds-relatedRecordsUI > TABLE > TBODY > TR > TD {
	width: 100%;
}
DIV#tabs > DIV:first-child {
	display: block;
	position: absolute;
	height: auto;
}
DIV#tabs UL {
	display: block;
	background-color: #1c557d;
	padding-top: 0.3em;
	width: 100%;
	list-style-type: none;
	height: 3em;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-padding-start: 0em;
	margin-bottom: 0em;
	padding-left: 0em;
}
DIV#tabs UL LI {
	display: inline-block;
	position: relative;
	left: 0.6em;
	top: 0px;
	width: auto;
	list-style-type: none;
	padding: 0.3em 0.6em 0.646em 0.6em;
}
DIV#tabs UL LI.ds-psudo-tab-last {
	position: absolute;
	left: initial;
	width: 4em; 
	top: 0.4em;
	right: 0.6em;
	float: right;
}
DIV#tabs UL LI A:link,DIV#tabs UL LI A:visited,DIV#tabs UL LI A:active{
	color: black;
}
.ds-psudo-tab:not(.ds-psudo-tab-last) {
	border-top-right-radius: 0.6em 0.6em;
	border-top-left-radius: 0.6em 0.6em;
	border: 1px solid;
	border-left-color: #595959;
	border-right-color: #595959;
	border-top-color: #595959;
	border-bottom-color: #1c557d;
	background-color: #D7D7D7;
	background-image: -ms-linear-gradient(rgb(243, 243, 243), rgb(200,200,200));
	background: linear-gradient(rgb(243, 243, 243), rgb(200,200,200));
	color: #133853;
	font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-weight: 400;
	width: auto;
	padding: 3px 5px 3px 5px;
	margin: 2px 2px 2px 2px;
}
.ds-psudo-tab * {
	color: #133853;
	text-decoration: none;
}
.ds-psudo-tab:not(.ds-psudo-tab-last):hover, .ds-psudo-tab:not(.ds-psudo-tab-last):hover *, .ds-psudo-tab-active:not(.ds-psudo-tab-last), .ds-psudo-tab-active:not(.ds-psudo-tab-last) * {
	background-color: #1c557d;
	background-image: -ms-linear-gradient(#2a7fbb, #1c557d);
	background: linear-gradient(#2a7fbb, #1c557d);
	border-left-color: black;
	border-right-color: black;
	border-top-color: black;
	border-bottom-color: #1c557d;
	color: white;
	text-decoration: none;
}
.ds-psudo-tab-last {
	border-top-right-radius: 0.6em 0.6em;
	border-top-left-radius: 0.6em 0.6em;
	border: 1px solid;
	border-left-color: #6e000d;
	border-right-color: #6e000d;
	border-top-color: #6e000d;
	border-bottom-color: #1c557d;
	background-color: #D7D7D7;
	background-image: -ms-linear-gradient(rgb(243, 243, 243), rgb(200,200,200));
	background: linear-gradient(rgb(243, 243, 243), rgb(200,200,200));
	color: #6e000d;
	font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-weight: 400;
	width: auto;
	cursor: pointer;
	padding: 3px 5px 3px 5px;
	margin: 2px 2px 2px 2px;
	float: right;
}
.ds-psudo-tab-last:hover,.ds-psudo-tab-active.ds-psudo-tab-last {
	border-top-right-radius: 0.6em 0.6em;
	border-top-left-radius: 0.6em 0.6em;
	border: 1px solid;
	border-left-color: #6e000d;
	border-right-color: #6e000d;
	border-top-color: #6e000d;
	border-bottom-color: #1c557d;
	background-color: #ffff99;
	background-image: -ms-linear-gradient(#ffff99, #e6e600);
	background: linear-gradient(#ffff99, #e6e600);
	color: #890212;
	font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-weight: 400;
	width: auto;
	padding: 3px 5px 3px 5px;
	margin: 2px 2px 2px 2px;
}
.ds-psudo-tab-last * {
	color: #890212;
	text-decoration: none;
}
.ds-psudo-tab-last:hover * {
	border: 0px hidden transparent;
	background: transparent;
	color: #890212;
	text-decoration: none;
}
.ds-tabContentDiv {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background-color: #F6F6F6;
}
.ds-tabContentScroll {
	overflow-x: hidden;
}
.ds-tabContentHeader {
	overflow-x: hidden;
}
.ds-TabContentWrapper {
	background: transparent;
	table-layout: fixed;
}
.ds-addRelatedRecordsButtons {
	width: 100%;
	display: block;
	position: relative;
	top: 0px;
	left: 0px;
}
.ds-tabContentDiv#tabs-filter > .ds-tabContentScroll,.ds-tabContentDiv#tabs-filter > .ds-tabContentHeader {
	overflow: hidden;
}
#dsChangeFilterForRelatedRecords {
	display: block;
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	border: 0px hidden transparent;
}
.ds-relatedInfoHeaders{
	font-family: Verdana, sans-serif;
	font-size: x-small;
	font-weight: bold;
	text-align: center;
	align: center;
	vertical-align: middle;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
.ds-relatedInfoHeaders:first-child,.ds-relatedInfoData:first-child{
	width: 63px;
}
.ds-relatedInfoData{
	font-family: Verdana, sans-serif;
	font-size: x-small;
	text-align: center;
	vertical-align: middle;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background-color: #f6f6f6;
}
.ds-relatedInfoDataShaded{
	font-family: Verdana, sans-serif;
	font-size: x-small;
	text-align: center;
	vertical-align: middle;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background-color: #e4e4e4;
}
.ds-relatedInfoDataHeaderTxtField {
	font-family: Verdana, sans-serif; 
	font-size: x-small; 
	border: 0px transparent hidden; 
	background: transparent; 
	overflow: hidden;
	text-decoration: underline;
	font-weight: bold;
	cursor: default;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
.ds-tcBlock {
	display: inline-block;
	padding: 0px 1px 0px 1px;
	margin: 0px 1px 0px 1px;
	overflow-y: hidden;
	overflow-x: hidden;
	height: auto;
	font-size: 10px
	min-height: 5px;
	max-height: 12px;
	width: 99%;
	min-width: 15px;
	max-width: 1000px;
	border: 0px hidden transparent;
	color: inherit;
	background: transparent;
	font-family: Verdana, sans-serif; 
	cursor: default;
}
.ds-tabContentHeader .ds-tcBlock {
	text-align: center;
	text-decoration: underline;
	font-weight: 700;
}
.ds-hoverPopup {
	display: block;
	position: fixed;
	padding: 2px 4px 4px 2px;
	margin: 2px 2px 2px 2px;
	overflow-y: scroll;
	overflow-x: hidden;
	height: auto;
	font-size: 12px
	min-height: 10px;
	max-height: 300px;
	width: auto;
	min-width: 10px;
	max-width: 250px;
	border: 3px solid black;
	color: black;
	white-space: 
	background-color: #D7D7D7;
	background-image: -ms-linear-gradient(rgb(243, 243, 243), rgb(200,200,200));
	background: linear-gradient(rgb(243, 243, 243), rgb(200,200,200));
	font-family: Verdana, sans-serif; 
	cursor: default;
}
.ds-relatedInfoDataTxtField {
	font-family: Verdana, sans-serif; 
	font-size: x-small; 
	border: 0px transparent hidden; 
	background: transparent; 
	overflow: hidden;
	cursor: default;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
.ds-relatedInfoDataTxtFieldConstruction {
	font-family: Verdana, sans-serif; 
	font-size: x-small; 
	border: 0px transparent hidden; 
	background: white; 
	overflow: hidden;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
.ui-tabs .ui-tabs-nav LI A {
	font-size: small;
}
.ui-tabs .ui-tabs-nav LI.ui-tabs-active A {
	cursor: text;
	color: white !important;
}
.ui-state-default A:link {
	color:	#bc1529 !important;
}
.ui-widget-content {
	background: #f6f6f6 url(images/ui-bg_highlight-soft_100_cccccc_1x100.png) 50% top repeat-x;
}
.ds-recordIDs {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}
.ds-emailLinks {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}
.ds-highlight {
	background-color: #ffff99;
	color: #890212;
	border: 1px solid #6e000d;
}
.ds-highlight input, .ds-highlight button, .ds-highlight .ds-psudoButton {
	color: #890212;
	border: 1px solid #6e000d;	
}
.ds-highlight .ds-psudoButton * {
	color: #890212;
}
.ds-highlight .ds-psudoButton:hover * {
	color: white;
}
/* loading overlay styles */
.ds-loadingOverlayInitial{
	font-size:16px;
	padding-top:100px;
	text-align:center;	
	width:100%;
	height:100%;
	background-color:#F5F5F5;
	position:fixed;
	top:0px;
	left:0px;
	z-index:9999999;
	cursor:default;
}
.ds-loadingOverlayWithProgress{
	font-size:16px;
	text-align:center;	
	width: auto;
	height:auto;
	min-width: 200px;
	max-width: 495px;
	min-height: 25px;
	max-height: 450px;
	background-color:#F5F5F5;
	background-image: -ms-linear-gradient(rgb(243, 243, 243), rgb(200,200,200));
	background: linear-gradient(rgb(243, 243, 243), rgb(200,200,200));
	opacity: 0.85;
	overflow-x: auto;
	overflow-y: scroll;
	position:fixed;
	bottom: 15px;
	right: 15px;
	z-index:99999990;
	cursor:default;
	display: block;
	border: 0px hidden transparent;
}
/* css for chrome*/
@supports (-webkit-appearance:none) {
	.ds-loadingOverlayWithProgress{
		opacity: 0.85;
		background: linear-gradient(rgb(243, 243, 243), rgb(200,200,200));
	}
}
/* css for firefox*/
@supports (-moz-animation: 4s linear 0s infinite alternate move_eye) {
	.ds-loadingOverlayWithProgress{
		opacity: 0.85;
		background: linear-gradient(rgb(243, 243, 243), rgb(200,200,200));
	}
}
.ds-progressBarWrapper{
	width: 490px; 
	border:1px solid #000000;
	height: 10px;
	min-height: 14px;
	max-height: 35px;
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	opacity: 1;
	filter: none;
}
.ds-progressBar{
	background-color:#5286AD;
	width:0%;
	height: 60%;
	border: 0px transparent hidden;
	color: #ffffff;
	font-family: Verdana, sans-serif;
	font-size: 7px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	opacity: 1;
	filter: none;
	background: linear-gradient(to right, rgb(243, 244, 164), rgb(189, 219, 191), rgb(203, 219, 231), rgb(82, 134, 173));
}

.ds-progressBar#ProgressBar1 {
	/*blue*/
	background-color: #5286AD;
	background: linear-gradient(to right, rgb(203, 219, 231), rgb(82, 134, 173));
}
.ds-progressBar#ProgressBar2 {
	/*red*/
	background-color: #AF5950;
	background: linear-gradient(to right, rgb(223, 189, 185), rgb(175, 89, 80));
}
.ds-progressBar#ProgressBar3 {
	/*green*/
	background-color: #5AA55F;
	background: linear-gradient(to right, rgb(189, 219, 191), rgb(90, 165, 95));
}
.ds-progressBar#ProgressBar4 {
	/*yellow*/
	background-color: #e7ea48;
	background: linear-gradient(to right, rgb(243, 244, 164), rgb(231, 234, 72));
}
.ds-progressBar#ProgressBar5 {
	/*teal*/
	background-color: #2fc5d0;
	background: linear-gradient(to right, rgb(172, 232, 236), rgb(47, 197, 208));
}
.ds-progressBar#ProgressBar6 {
	/*orange*/
	background-color: #ff5500;
	background: linear-gradient(to right, rgb(255, 187, 153), rgb(255, 85, 0));
}
.ds-progressBar#ProgressBar7 {
	/*lavender*/
	background-color: #5500ff;
	background: linear-gradient(to right, rgb(187, 153, 255), rgb(85, 0, 255));
}
.ds-progressBar#ProgressBar8 {
	/*brown*/
	background-color: #bf8040;
	background: linear-gradient(to right, rgb(230, 204, 179), rgb(191, 128, 64));
}
.ds-progressMessage{
	border: 0px transparent hidden;
	color: #000000;
	font-family: Verdana, sans-serif;
	font-size: medium;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	opacity: 1;
	filter: none;
}
.ds-loadingOverlayWithProgress TR.ds-progressIndicatorsTitle > TD:first-child {
	text-align: center;
}
.ds-loadingOverlayWithProgress TR.ds-progressBarRowWrapper > TD:first-child {
	text-align: left;
}
.ds-loadingOverlayWithProgress TR.ds-progressBarRowWrapper > TD:first-child  > SPAN.ds-progressBarMessage {
	font-size: 1.1em;
	font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: black;
	cursor: default;
	border: 0px hidden transparent;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	display: inline-block;
	width: 100%;
}
.ds-loadingOverlayWithProgress TR.ds-progressBarRowWrapper > TD:first-child  > .ds-progressIndicatorWrapper {
	display: block;
	width: 100%;
	font-size: 1em;
	font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: black;
	cursor: default;
	border: 0px hidden transparent;
	margin: 0px 0px 0px 0px;
	padding: 1% 2% 1% 2%;
}
#tblContacts .ds-tcBlock .fa { 
	font-size: 11px;
}
.ds-psudoPopupWrapper {
	background: rgba(12, 12, 12, 0.75);
	background: -ms-linear-gradient(rgb(243, 243, 243), rgb(200,200,200));
	background: linear-gradient(rgba(12, 12, 12, 0.75), rgba(240,240,240,0.45));
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}
.ds-popupWindow {
	display: block;
	position: fixed;
	min-height: 200px;
	max-height: 1200px;
	min-width: 200px;
	max-width: 1000px;
	height: 80%;
	width: 75%;
	border: 3px double black;
	background-color: white;
	font-size: 1em;
	top: 10%;
	overflow-x: scroll;
	overflow-y: scroll;
}
.ds-popupWindowTopBar {
	display: block;
	vertical-align: middle;
	text-align: left;
	padding: 3px 3px 3px 3px;
	position: fixed;
	height: 25px;
	width: 100%;
	cursor: all-scroll;
	background-color: #1c557d;
	background-image: -ms-linear-gradient(#2a7fbb, #1c557d);
	background: linear-gradient(#2a7fbb, #1c557d);
	color: white;
	top: 0px;
	font-size: 1.5em;
	font-weight: bold;
	font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-left: 3px double black;
	border-top: 3px double black;
	border-right: 3px double black;
	border-bottom: none;
}
.ds-popupWindowTitleBarCloseButton {
	display: block; 
	position: fixed; 
	right: 0px; 
	top: 0px; 
	float: right; 
	height: 21px; 
	width: 21px;
	cursor: pointer;
	color: white;
	font-size: 1.5em;
}
/* Context menu styles */
.ds-contextMenuTarget {
	cursor: copy; 
	cursor: context-menu; 
	cursor: url(/Style%20Library/context-menu2.cur), copy;
}
.ds-psudo-context-menu-wrapper {
	border: 0px hidden transparent;
	background-color: none;
	min-width: 200px;
	width: 200px;
	min-height: 30px;
	height: 600px;
	position: fixed;
}
.ds-psudo-context-menu-option {
	border: 1px solid black;
	background-color: #D7D7D7;
	background-image: -ms-linear-gradient(rgb(243,243,243), rgb(200,200,200));
	background: linear-gradient(rgb(243,243,243), rgb(200, 200, 200));
	color: black;
	font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	width: 100%;
	height: auto;
	position: relative;
	text-align: left;
	cursor: pointer;
}
.ds-psudo-context-menu-option * {
	cursor: pointer;
}
.ds-psudo-context-menu-option:hover {
	background-color: #1c557d;
	background-image: -ms-linear-gradient(#2a7fbb, #1c557d);
	background: linear-gradient(#2a7fbb, #1c557d);
	color: white;
	border: 1px solid transparent;
}
.ds-psudo-context-menu-option:hover *, .ds-psudo-context-menu-option:hover *:link, .ds-psudo-context-menu-option:hover *:active, .ds-psudo-context-menu-option:hover *:visited {
	color: white;
}
.ds-psudo-context-menu-option > TABLE {
	table-layout: fixed;
	border-collapse: collapse;
}
.ds-psudo-context-menu-option > TABLE > TBODY > TR > TD:not(:last-child) { 
	width: auto;
}
.ds-psudo-context-menu-option > TABLE > TBODY > TR > TD:last-child { 
	width: 90%;
	padding-left: 5px;
}
.ms-fullWidth > .ms-tableRow > .ms-tableCell > *, 
.ms-fullWidth > .ms-tableRow > .ms-pub-contentLayout, 
#DeltaPlaceHolderMain, 
#sideNavBox {
	background-color: rgba(255, 255, 255, 0.1);
}
.ms-rteTable-default * {
	background-color: rgba(255, 255, 255, 0.1);
}
#titlerow {
	background-color: rgba(255, 255, 255, 0.1);
}
#contentBox {
	background-color: rgba(255, 255, 255, 0.1);
}
.ds-magic-enterSetupButton-wrapper {
	min-width: 3em;
	min-height: 3em;
	position: fixed;
	right: 1.4em;
	bottom: 0px;
	background: transparent;
	opacity: 0.65;
	zoom: 0.9;
	table-layout: fixed;
	border-collapse: collapse;
	display: inline-table;
}
.ds-magic-enterSetupButton-wrapper:hover{
	background-color: #1c557d;
	background-image: -ms-linear-gradient(#2a7fbb, #1c557d);
	background-image: linear-gradient(#2a7fbb, #1c557d);
	opacity: 1;
	zoom: 1;
}
.ds-magic-enterSetupButton {
	cursor: pointer; 
	vertical-align: middle;
	text-align: center;
	font-size: 1.5em;
	width: 100%;
	height: 100%;
	color: black;
}
.ds-magic-enterSetupButton:hover {
	color: white;
	opacity: 1;
	zoom: 1;
}
/*
.ds-tabs-enterSetupButton {
	min-width: 3em;
	min-height: 3em;
	padding: 0em 3px 5px 3px;
	margin-top: 1em;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	background: transparent;
	overflow: visible;
}
.ds-tabs-enterSetupButton *{
	color: black;
	opacity: 0.65;
	zoom: 0.8;
}
.ds-tabs-enterSetupButton:hover{
	padding-top: 1.5em;
	margin-left: 1.4em;
	margin-top: 0.5em;
	background-color: #1c557d;
	background-image: -ms-linear-gradient(#2a7fbb, #1c557d);
	background-image: linear-gradient(#2a7fbb, #1c557d);
}
.ds-tabs-enterSetupButton:hover *{
	color: white;
	opacity: 1;
	zoom: 1;
}
*/
.ds-magic-logo-wrapper {
    position: relative;
    top: 0em;
    left: 0em;
    background: transparent;
    width: 4.2em;
    height: 4.5em;
    overflow: hidden;
    white-space: nowrap;
}
.ds-magic-logo-wrapper * {
	cursor: default;
}
.ds-magic-logo-content-letter:nth-child(1) {
    position: absolute;
    top: -0.37em;
    left: -0.12em;
    font-size: 4.5em;
    z-index: -2;
    color: #2a7fbb;
    opacity: 0.66;
}
.ds-magic-logo-content-letter:nth-child(2) {
    position: absolute;
    left: 0.2em;
    font-size: 4em;
    top: -0.2em;
    z-index: -1;
    color: #2a7fbb;
    opacity: 0.36;
}
.ds-magic-logo-content-fa {
    position: absolute;
    top: 0.2em;
    left: 0.25em;
    font-size: 4em;
    transform: rotateY(180deg);
    z-index: 0;
    color: #1c557d;
    opacity: 0.8;
}
#btnAddTimeAndComment > table > tbody > tr > td:nth-child(3) {
	background: transparent;
}
#btnAddTimeAndComment > table > tbody > tr > td:nth-child(3) * {
	position:relative;
	zoom:0.7%;
	bottom:-0.2em;
	left:-0.10em;
}
#btnSelfAssignTask > table > tbody > tr > td:nth-child(2) {
	background: transparent;
}
#btnSelfAssignTask > table > tbody > tr > td:nth-child(2) * {
	position:relative;
	zoom:0.7%;
	bottom:-0.2em;
	left:-0.78em;
}
#dsContextAddTimeAndComment .fa-clock-o, 
#dsContextAddTimeAndComment .fa-comment { 
	zoom: 0.75; 
}