SPAN.ms-rteElement-codeSample {
	-ms-name:"Code Sample";
	-ms-element:"true";
	display: block !important;
	position: relative !important;
	left: 0px;
	top: 0px;
	width: 99%;
	min-height: 10px;
	padding: 10px;
	font-size: 1.0em;
	max-width: 1000px;
	max-height: 500px;
	overflow: scroll;
	border: 1px solid black;
}
SPAN.ms-rteElement-codeSampleJS {
	-ms-name:"JavaScript Code";
	-ms-element:"true";
	display: block !important;
	position: relative !important;
	left: 0px;
	top: 0px;
	width: 99%;
	min-height: 10px;
	padding: 10px;
	font-size: 1.0em;
	max-width: 1000px;
	max-height: 500px;
	overflow: scroll;
	border: 1px solid black;
}
SPAN.ms-rteElement-codeSampleHTML {
	-ms-name:"HTML Code";
	-ms-element:"true";
	display: block !important;
	position: relative !important;
	left: 0px;
	top: 0px;
	width: 99%;
	min-height: 10px;
	padding: 10px;
	font-size: 1.0em;
	max-width: 1000px;
	max-height: 500px;
	overflow: scroll;
	border: 1px solid black;
}
SPAN.ms-rteElement-calloutBlockYellow {
	-ms-name:"Callout Block Yellow";
	-ms-element:"true";
	display: block !important;
	position: relative !important;
	left: 0px;
	top: 0px;
	width: 99%;
	min-height: 10px;
	float: none;
	background-color: #ffffcc;
	padding: 10px;
	border: 1px solid #9f9b09;
	color: #b6a803;
	font-size: 1.0em;
}
.ms-rteStyle-calloutFloatLeftYellow {
	-ms-name:"Callout Float Left Yellow";
	display: block !important;
	position: relative !important;
	left: 0px;
	top: 0px;
	width: 25%;
	min-height: 10px;
	float: left;
	background-color: #ffffcc;
	padding: 10px;
	margin-right: 10px;
	border: 1px solid #9f9b09;
	color: #b6a803;
	font-size: 1.0em;
}
.ms-rteStyle-calloutFloatRightYellow {
	-ms-name:"Callout Float Right Yellow";
	display: block !important;
	position: relative !important;
	right: 0px;
	top: 0px;
	width: 25%;
	min-height: 10px;
	float: right;
	background-color: #ffffcc;
	padding: 10px;
	margin-left: 10px;
	border: 1px solid #9f9b09;
	color: #b6a803;
	font-size: 1.0em;
}
SPAN.ms-rteElement-calloutBlockOrange {
	-ms-name:"Callout Block Orange";
	-ms-element:"true";
	display: block !important;
	position: relative !important;
	left: 0px;
	top: 0px;
	width: 99%;
	min-height: 10px;
	float: none;
	background-color: #fef4e4;
	padding: 10px;
	border: 1px solid #fd9f08;
	color: #cc3300;
	font-size: 1.0em;
}
.ms-rteStyle-calloutFloatLeftOrange {
	-ms-name:"Callout Float Left Orange";
	display: block !important;
	position: relative !important;
	left: 0px;
	top: 0px;
	width: 25%;
	min-height: 10px;
	float: left;
	background-color: #fef4e4;
	padding: 10px;
	margin-right: 10px;
	border: 1px solid #fd9f08;
	color: #cc3300;
	font-size: 1.0em;
}
.ms-rteStyle-calloutFloatRightOrange {
	-ms-name:"Callout Float Right Orange";
	display: block !important;
	position: relative !important;
	right: 0px;
	top: 0px;
	width: 25%;
	min-height: 10px;
	float: right;
	background-color: #fef4e4;
	padding: 10px;
	margin-left: 10px;
	border: 1px solid #fd9f08;
	color: #cc3300;
	font-size: 1.0em;
}
SPAN.ms-rteElement-calloutBlockGreen {
	-ms-name:"Callout Block Green";
	-ms-element:"true";
	display: block !important;
	position: relative !important;
	left: 0px;
	top: 0px;
	width: 99%;
	min-height: 10px;
	float: none;
	background-color: #cde3c6;
	padding: 10px;
	border: 1px solid #36b000;
	color: #4d7733;
	font-size: 1.0em;
}
.ms-rteStyle-calloutFloatLeftGreen {
	-ms-name:"Callout Float Left Green";
	display: block !important;
	position: relative !important;
	left: 0px;
	top: 0px;
	width: 25%;
	min-height: 10px;
	float: left;
	background-color: #cde3c6;
	padding: 10px;
	margin-right: 10px;
	border: 1px solid #36b000;
	color: #4d7733;
	font-size: 1.0em;
}
.ms-rteStyle-calloutFloatRightGreen {
	-ms-name: "Callout Float Right Green";
	display: block !important;
	position: relative !important;
	right: 0px;
	top: 0px;
	width: 25%;
	min-height: 10px;
	float: right;
	background-color: #cde3c6;
	padding: 10px;
	margin-left: 10px;
	border: 1px solid #36b000;
	color: #4d7733;
	font-size: 1.0em;
}
SPAN.ms-rteElement-calloutBlockBlue {
	-ms-name:"Callout Block Blue";
	-ms-element:"true";
	display: block !important;
	position: relative !important;
	left: 0px;
	top: 0px;
	width: 99%;
	min-height: 10px;
	float: none;
	background-color: #bed3e9;
	padding: 10px;
	border: 1px solid #2e5885;
	color: #1a324c;
	font-size: 1.0em;
}
.ms-rteStyle-calloutFloatLeftBlue {
	-ms-name:"Callout Float Left Blue";
	display: block !important;
	position: relative !important;
	left: 0px;
	top: 0px;
	width: 25%;
	min-height: 10px;
	float: left;
	background-color: #bed3e9;
	padding: 10px;
	margin-right: 10px;
	border: 1px solid #2e5885;
	color: #1a324c;
	font-size: 1.0em;
}
.ms-rteStyle-calloutFloatRightBlue {
	-ms-name:"Callout Float Right Blue";
	display: block !important;
	position: relative !important;
	right: 0px;
	top: 0px;
	width: 25%;
	min-height: 10px;
	float: right;
	background-color: #bed3e9;
	padding: 10px;
	margin-left: 10px;
	border: 1px solid #2e5885;
	color: #1a324c;
	font-size: 1.0em;
}